.header {
  /* background-color: var(--secondary-color); */
  color: var(--text-color);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--black25);
}
.header .nav-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 64px;
  padding: 0;
}
.header a h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
}

.nav-bar ul {
  font-size: 21px;
  font-weight: bold;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

}
.nav-bar ul .nav-link {
  color: var(--text-color);
  text-transform: capitalize;
}
.styled-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--primary-color);
  padding: 8px 16px;
  color: var(--text-color-white);
  border-radius: 8px;
}
@media screen and (max-width:400px) {
  .header .nav-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 32px;
    padding: 0;
  }
  .header a h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
  }
  .nav-bar ul {
    font-size: 21px;
    font-weight: bold;
    list-style: none;
    display: none;
    align-items: center;
    gap: 16px;
  }

  
}
